body {
  background-color: #00539F;
  text-align: center;
  width: 600px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  color: whitesmoke;
  position: relative;
}

button {
  background-color: yellow;
  border: none;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

h1, h2, .imgLamanu, .myHref {
  background-color: #00539F;
  text-align: center;
  color: whitesmoke;
}

table {
  border: solid black;
  background-color: #00539F;
  text-align: center;
  color: whitesmoke;
  }

td {
  border: solid red;
  background-color: #00539F;
  text-align: center;
  color: whitesmoke;
 

}

th, tr {
  border: solid green;
  background-color: #00539F;
  text-align: center;
  color: whitesmoke;
}